/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    background-color: #F8E4CD;
    color: #000;
    height: 100vh;
}

.container {
    text-align: center;
}

/* Button Styles */
.btn {
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 25px;
    width: 100px;
    height: 50px;
    font-family: Georgia, serif;
    font-size: 16px;
}

/* Buttons in Navbar */
.teens,
.adults,
.home {
    background-color: #212529;
    color: #ffffff;
    border: 1px solid #212529;
}

.teens:hover,
.adults:hover,
.home:hover {
    background-color: #212529;
}

h1 {
    font-family: "Didact Gothic", Georgia, sans-serif;
    color: #A9A9A9;
    font-weight: bold;
    font-size: 22px;
    margin: 20px 0;
}

.start-box {
    background-color: #eeeeee;
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 40px;
    display: inline-block;
    margin-bottom: 30px;
    width: 300px;
    text-align: center;
}

.start-btn {
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    font-family: Georgia, serif;
    font-size: 16px;
}

.product-image {
    width: 250px;
    height: 350px;
    border-radius: 25px;
}

/* Responsive Fix */
.mt-5 {
    margin-top: 5rem !important;
}

.pt-5 {
    padding-top: 5rem !important;
}

/* Quiz Content */
h1 {
    font-family: "Didact Gothic", Georgia, sans-serif;
    color: #A9A9A9;
    font-weight: bold;
    font-size: 28px;
    margin: 20px 0;
}

.quiz-box {
    background-color: #eeeeee;
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 20px;
    margin: 20px 0;
    width: 500px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#quiz-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 10px;
}

/* External Links Styling */
.resource-box {
    background-color: #eeeeee;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.resource-box ul {
    list-style-type: none;
    padding: 0;
}

.resource-box a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* Media query for small screens */
@media (max-width: 500px) {
    .start-box {
        width: 90%;
        padding: 20px;
    }

    .start-btn {
        width: 100%;
        font-size: 14px;
    }

    .products {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .product-image {
        width: 80%;
        height: auto;
    }

    .product-image:nth-child(2) {
        display: none;
    }

    .quiz-box {
        width: 90%;
        padding: 15px;
        min-height: 200px;
        border-radius: 20px;
    }
    .resource-box {
        width: 90%;
    }
}